{% extends 'base.html.twig' %}

{% block title %}Eliminar{% endblock %}

{% block main %}

    {{ parent() }}
    <p>¿Quieres eliminar el comentario?</p>

    {{ form(formulario) }}
    

{% endblock %}
