{% extends 'base.html.twig' %}
{% block title %}Reinicio de la clave{% endblock %}

{% block main %}
    {{ parent() }}
    </div class="bg-light mt-2 my-4 mx-auto p-5 border w-50 col-6 offset-2">
        <div class="text-center">
            <h1>Restablecer la clave</h1>
            <p>Introduce tu email y te enviaremos un enlace para restablecer tu clave.</p>
        </div>
        <div class="m-3">
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}

                <div class="text-center">
                    <button class="btn btn-primary">Restablecer clave</button>
                </div>
            {{ form_end(resetForm) }}
        </div>
    </div>
    
{% endblock %}
