{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block breadcrumb %}
	{{parent()}}
	<li class="breadcrumb-item active">Lugares</li>

{% endblock %}


{% block main %}
    {{ parent() }}
    <h2 class="my-4">Lista de lugares</h2>

    {# include place-list #}
    {% include '/includes/lista_place.html.twig' %}

    {%
        include '/includes/paginator.html.twig' with
        {
            'route' : 'place_list',
            'entidades' : 'lugares'
        }

    %}

  
{% endblock %}
