{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block main %}
    {{ parent() }}
    <h1>Place index</h1>

    {# include place-list #}
    {% include '/includes/lista_place.html.twig' %}

    {%
        include '/includes/paginator.html.twig' with
        {
            'route' : 'place_list',
            'entidades' : 'lugares'
        }

    %}

    <a href="{{ path('place_create') }}">Create new</a>
{% endblock %}
