{% extends 'base.html.twig' %}
{% block title %}Catálogo de actores{% endblock %}

{% block breadcrumb %}
	{{parent()}}
	<li class="breadcrumb-item active" aria-current="page">Actores<li>
{% endblock %}

{%  block main %}
	{{ parent() }}
	<p>Listado de actores en <b>Symfofilms</b>.</p>
	<p>A lo largo de las próximas semanas iremos editando este ejemplo para dotarlo de nuevas características y funcionalidades.</p>
	

	{# incluye la subvista con la lista de actores #}
	{% include '/includes/lista_actores.html.twig'  %}
	
	{% 
		include '/includes/paginator.html.twig' with
		{
			'route': 'actor_list',
			'entidades': 'actores'
		}
	%}
{% endblock %}
